/*estilos para main contacto*/
.main1{
    
    section{
        .div-contacto{
            margin: 15px;
        }
    }
    input:focus{
        outline:none;
        border: 5px solid #B6DF73;
    }
}